server:
  port: 8088

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/anlikel/configs
          default-label: main
          search-paths: configs/*
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: health,info